
<div id="add-event-modal"  aria-hidden="true"
    class="modal  w-full overflow-x-hidden overflow-y-auto md:inset-0 h-[calc(100%-1rem)] max-h-full flex justify-center bg-gray-900 bg-opacity-50">
    <div class="relative w-full max-w-md max-h-full">
        <!-- Modal content -->
        <div class="relative bg-white  shadow dark:bg-gray-700">
            <div class="px-6 py-6 lg:px-8">
                <h3 class="text-xl font-medium text-gray-900 dark:text-white">Dupliquer un cours</h3>
                <p class="text-sm mb-4 text-white italic">* Choisir des groupes sur lesquels dupliquer</p>
                <form class="space-y-6 " (ngSubmit)="onSubmitDuplicate() ">
                    <div  class="flex flex-row w-full justify-center rounded-xl overflow-hidden">
                        <div *ngFor="let parent of getParentsGroupAvailable()" class="flex-1 text-center text-white">
                            <course-duplicate-show  [group]="parent" [group_available]="groupe_available" (updateGroup)="updateGroupAvailable($event)"></course-duplicate-show>
                        </div>
                    </div>
                    <button type="submit" class="w-full text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">Confirmer</button>
                </form>
            </div>
        </div>
    </div>
</div>